body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header li{
    display: inline-flexbox;
    border: 2px black solid;
    border-radius: 25px;
    background-color: rgb(0, 255, 145);
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
}

a{
    color: black;
}

#quienes_somos img{
    height: 160px;
    border-radius: 25px;
}
